
input[type=numberbox] {
    color:black;
    margin-bottom:5px;
}

input[type=number] {
    color:black;
    margin-bottom:5px;
}
select {
    color:black;
    margin-bottom:5px;
}
input[disabled]{
    color: grey ;
    background-color: #dddddd;
}
select[disabled]{
    color: grey ;
    background-color: #dddddd;
}

#wrapper {
	padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    color:white;
}
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#params , #seedDiv, #forceDiv, #randomDiv{
	margin: 20px;
	border:1px solid white;
	padding: 10px;
}

#loadSeed, #shareSeed{
	margin-top:10px;
}
#seedInput{
    width:100%;
    height:100%;
}
.title{
	font-weight: bold;
	font-size: 20px;
	margin-left:20px;
	margin-bottom:-15px;
	margin-top: 20px
}
footer{
	margin-left: 20px;
}
a:visited{
	color:white;
}

input[type=checkbox] + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-off-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
input[type=checkbox]:checked + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
#summary{
    width:200px;
    display:inline-block;
}
#pauseDiv{
    display:inline;
    position:relative;
    top:-60px;
}

.step{
    display:inline-block;
    width:15px;
    text-align: center;
}
.limbDiv{
    display: inline-block;
}

.sheetLine{
    margin-top:-20px;
}
#sheet{
    margin-top:20px;
}

.instrLabel{
    display: inline-block;
    width: 80px;
}

.LeftHand{
    background-color: LightBlue ;
}
.RightHand{
    background-color: LightCoral ;
}
.LeftFoot{
    background-color: Gainsboro;
}
.RightFoot{
    background-color: LemonChiffon;
}
.inline{
    display: inline-block;
}
.fla{
    display: inline-block;
    background: linear-gradient(45deg, LightCoral  50%, LightBlue 50%);
}

.muted{
    background-color: white;
}

#complexityResult{
    display:inline;
}

.med{
    width:40px;
}
.bg{
    width:50px;
}
.smaller{
    width:25px; 
}

#generate, #random{
    margin-top:10px;
    margin-bottom:10px;
}

#resolution{
    display:inline;
}
.explain{
    font-size: 11px;
}

.tiptext {
    width:20px;
    text-align: center;
    display: inline-block;
    cursor: help;
    border-radius: 100%;
    border: 1px solid white;
    margin-right:5px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    background-color: white;
    color: black;
}



