#wrapper{
    margin:10px;
}

#params , #seedDiv, #forceDiv, #randomDiv{
    margin: 20px;
    border:1px solid white;
    padding: 10px;
}

#loadSeed, #shareSeed{
    margin-top:10px;
}
#seedInput{
    width:100%;
    height:100%;
}

footer{
    margin-left: 20px;
}

input[type=checkbox] + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-off-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
input[type=checkbox]:checked + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
#summary{
    width:200px;
    display:inline-block;
}

.step{
    display:inline-block;
    width:15px;
    text-align: center;
}
.limbDiv{
    display: inline-block;
}

.sheetLine{
    margin-top:-20px;
}
#sheet{
    margin-top:20px;
}

.instrLabel{
    display: inline-block;
    width: 80px;
}

.LeftHand{
    background-color: LightBlue ;
}
.RightHand{
    background-color: LightCoral ;
}
.LeftFoot{
    background-color: Gainsboro;
}
.RightFoot{
    background-color: LemonChiffon;
}
.inline{
    display: inline-block;
}

.muted{
    background-color: white;
}

#complexityResult{
    display:inline;
}

.med{
    width:40px;
}
.bg{
    width:50px;
}
.smaller{
    width:25px; 
}

#generate, #random{
    margin:10px;
}

#resolution{
    display:inline;
}
.explain{
    font-size: 11px;
}

.tiptext {
    width:20px;
    text-align: center;
    display: inline-block;
    cursor: help;
    border-radius: 100%;
    border: 1px solid white;
    margin-right:5px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    background-color: white;
    color: black;
}


#loop,#tempoDiv,#pauseDiv{
    display:inline-block;
    height:40px;
    margin-right:20px;
    margin-top:10px;
    text-align: center;
}




.sidebar-form {
  padding: 7px 15px 13px 15px;
}
@media (min-width: 768px) {
  #page-wrapper2 {
    margin: 0 0 0 275px;

  }
  .sidebar-nav {
    left: 0;
    list-style: none;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 1;
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .sidebar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin: 0;
    margin-top:-25px;
    padding: 5px 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sidebar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }
  .sidebar-nav .navbar-brand {
    width: 100%;
  }
  .sidebar-nav .open > a > b.caret {
    border-top: none;
    border-bottom: 4px solid;
  }
}

#navbar-black.navbar-default { 
    font-size: 14px;
    background-color: #000;
    color: #dddddd;
    border: 0px;
    border-radius: 0;
}
#navbar-black.navbar-default .navbar-nav>li>a:hover,
#navbar-black.navbar-default .navbar-nav>li>a:focus,
#navbar-black.navbar-default .navbar-nav>li>ul>li>a:hover, 
#navbar-black.navbar-default .navbar-nav>li>ul>li>a:focus, 
#navbar-black.navbar-default .navbar-nav>.active>a,
#navbar-black.navbar-default .navbar-nav>.active>a:hover,
#navbar-black.navbar-default .navbar-nav>.active>a:focus {   
    color: rgba(255, 255, 255, 1);
    background-color: #000;
}


#sidebar-black, #column-black {
    background-color: #000;
}
#navbar-black.navbar-default .navbar-toggle {
    border-color: #000; 
}
#navbar-black.navbar-default .navbar-toggle:hover,
#navbar-black.navbar-default .navbar-toggle:focus {
    background-color: #3C3C3C;
}
#navbar-black.navbar-default .navbar-nav>li>a,
#navbar-black.navbar-default .navbar-nav>li>ul>li>a, 
#navbar-black.navbar-default .navbar-brand {
    color: #cccccc; 
    background-color: #000;
}
#navbar-black.navbar-default .navbar-toggle .icon-bar,
#navbar-black.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-black.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

#navbar-black.navbar-default input[type=number] {
    margin-bottom:5px ;
    color:#000;
}
#navbar-black.navbar-default input[type=numberBox] {
    margin-bottom:5px ;
    color:#000;
}
#navbar-black.navbar-default select {
    margin-bottom:5px ;
    color:#000;
}
#navbar-black.navbar-default input[disabled]{
    color: grey ;
    background-color: #bbbbbb;
}
#navbar-black.navbar-default select[disabled]{
    color: grey ;
    background-color: #bbbbbb;
}

.hidden-xs{
    margin-bottom:100px;
}



